/* ----------------------------- */
/* Hides super reaction elements */
/* ----------------------------- */

[class*=reaction_]:has([aria-label*="super reaction"]),
[class*=burstToggle_] {
    display: none;
}

/* ------------------------- */
/* Hides general UI elements */
/* ------------------------- */

/* Bug reporting button */
[aria-label="Help"] {
    display: none;
}

/* Gift button in chat box */
[aria-label="Send a gift"] {
    display: none;
}

/* Add server button in side bar */
[aria-label="Servers"]+[class*=tutorialContainer_] {
    display: none;
}

/* Explore servers button in side bar */
[class*=listItem_]:has([aria-label="Explore Discoverable Servers"]) {
    display: none;
}

/* Trailing guild separator in side bar */
[class*=tutorialContainer_]+[class*=listItem_]+[class*=listItem_] {
    display: none;
}

/* Download apps button in side bar */
[class*=listItem_]:has([aria-label="Download Apps"]) {
    display: none;
}

/* Hide nitro advertisement in emote info */
[class*=shinyButton_] {
    display: none;
}

/* Hide nitro advertisement in reaction pop-up */
[class*=nitroTopDividerContainer_],
[class*=categorySectionNitroLocked_],
[class*=upsellContainer_] {
    display: none;
}

/* -------------------------------------- */
/* Hide elements when connected to a call */
/* -------------------------------------- */

/* Soundboard and reactions in bottom controls */
[class*=voiceEffectsActionBar_] {
    display: none;
}

/* Soundboard in action buttons */
[type="button"]+div:has([aria-label="Open Soundboard"]) {
    display: none;
}

/* Soundboard in action buttons when deafened */
[type="button"]+div:has([aria-label="Soundboard disabled when deafened"]) {
    display: none;
}

/* ------------------------------- */
/* Hides advertisements in DMs tab */
/* ------------------------------- */

/* Nitro button */
[role="listitem"]:has([href="/store"]) {
    display: none;
}

/* Shop button */
[role="listitem"]:has([href="/shop"]) {
    display: none;
}

/* ---------------------------------------------------- */
/* Hides advertisements within profiles tab in settings */
/* ---------------------------------------------------- */

[class*=container_]:has(+div+[class*=premiumFeatureBorder_]),
[class*=premiumFeatureBorder_],
[class*=upsellOverlayContainer_] {
    display: none;
}

/* --------------------------------------------------------- */
/* Hides buttons within billing settings section of settings */
/* --------------------------------------------------------- */

/* Billing settings header */
[class*="header_"]:has(+[data-tab-id="Discord Nitro"]) {
    display: none;
}

/* Nitro button */
[data-tab-id="Discord Nitro"] {
    display: none;
}

/* Server boost button */
[data-tab-id="Nitro Server Boost"] {
    display: none;
}

/* Subscriptions button */
[data-tab-id="Subscriptions"] {
    display: none;
}

/* Gift inventory button */
[data-tab-id="Library Inventory"] {
    display: none;
}

/* Billing button */
[data-tab-id="Billing"] {
    display: none;
}

/* Trailing separator */
[data-tab-id="Billing"]+[class*=separator_] {
    display: none;
}

[data-list-id^=private-channels] [class^=container_]:has(> [class^=itemContainer_] [class^=clickable_][aria-label])  {
    display: none;
}

section[class^="panels_"]>div[class^="mask_"] {
    display: none;
}

[class^="listItem_"] [data-dnd-name="SERVER-NAME-HERE-VERY-IMPORTANTSIES"] [class^="wrapper_"] {
    > [class^="lowerBadge_"] {
        display: none!important;
    }
    > svg > mask > use[href*="lower"] {
        display: none;
    }
}

[class^=confetti] /* remove the confetti animation from the friends thing at the top of the DMs */ {
    display: none !important; /* Prevent display */ }
[class*=friendsBadge]:is([class*=selected]), /* replace the selected overlay thingy by the normal stuff */
[class*=friendsBadge]:hover /* replace the selected overlay thingy by the normal stuff */ {
    background: var(--bg-overlay-hover,var(--background-modifier-hover)) !important; /* copied from .selected_f5eb4b */ }
[class*=friendsBadge]:not(:is([class*=selected])):not(:hover) /* remove the weird overlay thingy */ {
    background: unset !important; /* yeet that shit out */ }
	
[class^='membersGroup']:has([role=button]),
[class^='member'] [class^='container']:has([class*='badges']) {
  display: none;
}

@media (max-width: 1100px)
{
    [class*="sidebar_"]
    {
        width: 200px;
        .vc-typing-indicator, .vc-channelemojis-emoji, [class*="guildIconV2Container_"]
        {
            display: none;
        }
        [class*="containerDefault_"]
        {
            [role="img"]
            {
                display: none;
            }
        }
    }
    [class*="chat_"]
    {
        [class*="membersWrap_"]
        {
            display: none;
        }
    }
}

.media-engine-video[class*=mirror_] { transform: none }

[class*=channelAppLauncher_] {
  display: none;
}

:root
{
    --background-secondary: var(--background-primary);
    
    /*You can remove this, but it makes the user area thing look really shitty*/
    --background-secondary-alt: var(--background-primary);

    --background-tertiary: var(--background-primary);
    --background-floating: var(--background-primary);
    --background-accent: var(--background-primary);
    --background-nested-floating: var(--background-primary);
    --background-overlay-1: var(--background-primary);
}

/* Remove Settings Ads */
div.side_a0 > div.item_a0[data-tab-id="Discord Nitro"] {
  display: none !important;
}
div.side_a0 > div.item_a0[data-tab-id="Nitro Server Boost"] {
  display: none !important;
}

.timestampInline__430cf {
    visibility: hidden;
}

[class*="cozyMessage_"]:hover .timestampInline__430cf {
    visibility: hidden;
}

.text-md-normal__6e567 .timestampInline__430cf {
    visibility: hidden; 
}

/* Replace Member List Mobile Icons */
[mask*="avatar-status-mobile"]{
  mask: url(#svg-mask-avatar-status-round-32) !important;
}
[mask*="mask-status-online-mobile)"]{
  mask: url(#svg-mask-status-online)!important;
  height: 10px !important;
  width: 10px !important;
  transform: translateY(5px) !important;
}

/* Replace Profile Popout Mobile Status Icons */
[class*=userProfile] [mask*="mask-status-online-mobile)"]{
  mask: url(#svg-mask-status-online)!important;
  height: 16px !important;
  width: 16px !important;
  transform: translateY(8px) !important;
}
[class*=userProfile] [mask*="avatar-status-mobile"]{
  mask: url(#svg-mask-avatar-status-round-80) !important;
}
[class*=avatar] rect[fill=black], [class*=avatar] rect[fill=white]{
  display: none;
}

/* hides super reactions */
[class^=reaction_]:has(div > [class^="burstGlow"]) {
    display: none;
}

/* hide reactions in a channel */
[data-list-id="chat-messages"]  li[id^="chat-messages-CHANNELID"] [id^="message-accessories"] {
    display: none;
}

[class^="positionContainer_"] {
  height: calc(100vh - 180px);
}

img[class*="avatar"][src^="https://cdn.discordapp.com/avatar-decoration-presets/a_5e1210779d99ece1c0b4f438a5bc6e72.png"] {
    display: none;
}

[data-list-id="guildsnav"]>div>div>div:has(>div[style*="background: url(\"https://cdn.discordapp.com/assets/signups"]) {display:none}


